h1 {
  font-family: Georgia;
  color: Brown;
  font-size: 50px;
}

h2 {
  font-family: Helvetica;
  color: Tan;
  font-size: 35px
}

p {
  font-family: Helvetica;
  font-size: 18px
}

img {
  width: 100%
}